{% extends 'layouts/front.html.twig' %}

{% block title %} Accueil {{ parent() }} {% endblock %}
{% block content %}
    {% if user.isAdmin %}
        <a id="add-article" class="article-management" href="/admin/post/add">
            <i class="fas fa-plus-square"></i>Ajouter un article
        </a>
    {% endif %}

    <div class="contact">
        <h1>Me contacter</h1>
        <form action="" method="post">
            {{ contactForm | raw }}

            <input type="submit" value="Envoyer"/>
        </form>
    </div>

{% endblock %}
